h1{
    display:flex;
    justify-content: center;
    margin-top: 1cm;
}

form{
    margin-left: 4cm;
    margin-right: 4cm;
    margin-top: 1cm;
}
p{
    margin-top: 0.5cm;
}
.btn{
    border: 0;
    border-radius: 5px;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

.btn-success{
    display:flex;
    justify-content: center;
    max-width: 4cm;
    margin: 1.5cm;
}

.etiqueta{
    display:flex;
    margin-left: 1cm;
}
.contenedor_etiqueta{
    margin-left: 1cm;
}
.datos{
    display:flex;
}
.botones{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1cm;
    margin-right: 1cm;
}

body{
    background-color: gainsboro
}
#cesto:hover{
color:coral
}
#lapiz:hover{
color: coral
}




